<app-home></app-home>
<h2>
    Reservation List
</h2>

<ul *ngIf="reservations.length ; else noReservations">
    <li *ngFor="let reservation of reservations">
        {{ reservation.guestName }} - Room {{ reservation.roomNumber }} - Check-in: {{ reservation.checkInDate }} -
        Check-out: {{ reservation.checkOutDate }} - Email: {{ reservation.guestEmail }}
        <button (click)="deleteReservation(reservation.id)">Delete</button>
        <button [routerLink]="['/edit', reservation.id]">Edit</button>
    </li>
</ul>

<ng-template #noReservations>
    <p>No reservations found.</p>
</ng-template>