/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #fafafa;
}

/* Global Material adjustments */
.mat-mdc-card {
    margin: 16px 0;
}

.mat-mdc-raised-button .mat-icon,
.mat-mdc-button .mat-icon {
    margin-right: 8px;
}

/* Table styling */
.mat-mdc-table {
    background: transparent !important;
}

.mat-mdc-header-cell {
    font-weight: 600;
    color: #333;
}

.mat-mdc-row:hover {
    background-color: #f5f5f5;
}